body {
    background-image: url(../Elements_Images/h4.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}



.Name::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: conic-gradient(from var(--angle), rgb(255, 0, 0),rgb(242, 0, 255), violet);
    width: 287px;
    height: 2px;
    margin-top: 60px;
    margin-left: 6px;
    border-radius: 3px;

    z-index: 1;
    animation: spin 2s linear infinite;
}

.Name::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: conic-gradient(from var(--angle), rgb(255, 0, 0), rgb(242, 0, 255), violet);
    width: 287px;
    height: 10px;
    margin-top: 60px;
    margin-left: 6px;
    border-radius: 3px;

    z-index: -1;
    animation: spin 2s linear infinite;
    filter: blur(10px);
}


@keyframes spin {
    from {
        --angle: 100deg;
    }
    to {
        --angle: 360deg;
    }
}










.button1 {
    margin-left: 10px; 
    margin-right: 10px;
    padding: 4px 10px;
    border: none;
    background: black; 
    color: white;
    border-radius: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: bolder;
    padding-right: 20px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.button1::after {
    content: '';
    position: absolute;
    width: 117%;
    height: 108%;
    border-radius: 13px;
    background-image: linear-gradient(to bottom right,#7b00ffcd,  #ff0088);
    z-index: -1;
}
.button1:hover {
    z-index: 0;
    transition: 0.2s;

    box-shadow: 40px 0 100px #ff0088, -40px 0 100px #ff008878;
}










.img {
    height: 300px;
    width: 300px;
    border: solid rgb(255, 204, 0) 5px;
    border: solid 3px black;
    position: relative;
    border-radius: 11px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
/* SPIN PROPERTY ----------------------------------------------------------------*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
/* SPIN PROPERTY ----------------------------------------------------------------*/

.imgs {
   position: fixed;
   margin-left: 80px;
   margin-top: 30px;
  

}
 
.imgs::after {

    content: '';
    position: absolute;
    inset: -5px;
    width: 315px;
    height: 315px;
    border-radius: 13px;
    background: conic-gradient(from var(--angle), #d11149, #e68aff, #ff4800, #cdff58, #11ebff, #cdff58, #d11149);
    

    
    z-index: -1;

    filter: blur(35px);
    opacity: 1;
    animation: spin 2s linear infinite;
    transition: all 1s linear infinite;
}
.imgs::before {
    content: "";
    position: absolute;
    inset: -5px;
    width: 315px;
    height: 315px;
    border-radius: 13px;
    background: conic-gradient(from var(--angle), #d11149, #e68aff, #ff4800, #cdff58, #11ebff, #cdff58, #d11149);
 
    
    
    z-index: -1;

    animation: spin 2s linear infinite;
}

/*-------------------------- SPIN KEYFRAME ----------------------------------------------------------------*/

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*-------------------------- SPIN KEYFRAME ----------------------------------------------------------------*/






.Name {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 420px; 
}


.contents {
    padding: 15px;
    border: solid 5px;
    border-radius: 15px;
    border-style: outset;
    border-color: orange;
    height: 70px;
    width: 700px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 420px;
 
}
    



.Ename {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 3px;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(246, 243, 24);
    height: 25px;
    width: 250px;
    margin-left: 420px;
    padding-left: 10px;
  
}
